<div class="widget-search">
    <div class="site-search-area">
        <form action="/blog-search" method="POST" id="site-searchform">
            <div>
                <input class="input-text form-control" name="q" placeholder="Search keywords..." type="text" required>
                <input id="searchsubmit" value="Search" type="submit">
            </div>
        </form>
    </div>
</div>
<div class="widget-categories">
    <h3 class="widget-title">Categories</h3>
    <ul>
        <li><a href="/blog?category=Arts">Arts</a></li>
        <li><a href="/blog?category=Educational">Educational</a></li>
        <li><a href="/blog?category=Entertainment">Entertainment</a></li>
        <li><a href="/blog?category=Inspirational">Inspirational</a></li>
        <li><a href="/blog?category=News">News</a></li>
        <li><a href="/blog?category=Science & Technology">Science & Technology</a></li>
    </ul>
</div>