<%- include('./includes/header.ejs') %>

    <div class="all-title-box">
        <div class="container text-center">
            <h1>Course Grid 4<span class="m_1">Lorem Ipsum dolroin gravida nibh vel velit.</span></h1>
        </div>
    </div>

    <div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
                </div>
            </div>
            <!-- end title -->

            <hr class="invis">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="course-item">
                        <div class="course-title">
                            <h2>English</h2>
                        </div>
                        <div class="image-blog">
                            <img src="images/blog_1.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="course-br pt-0 text-center">
                            <small><i>Mr. Emmanuel Okonkwo - Subject teacher </i></small>
                        </div>
                        <div class="course-meta-bot">
                            <ul>
                                <li><a href="">View scheme of work and recommended materials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="course-item">
                        <div class="course-title">
                            <h2>Mathemtics</h2>
                        </div>
                        <div class="image-blog">
                            <img src="images/blog_2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="course-br pt-0 text-center">
                            <small><i>Mr. Emmanuel Onah - Subject teacher </i></small>
                        </div>
                        <div class="course-meta-bot">
                            <ul>
                                <li><a href="">View scheme of work and recommended materials</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="course-item">
                        <div class="course-title">
                            <h2>Mathemtics</h2>
                        </div>
                        <div class="image-blog">
                            <img src="images/blog_2.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="course-br pt-0 text-center">
                            <small><i>Mr. Emmanuel Onah - Subject teacher </i></small>
                        </div>
                        <div class="course-meta-bot">
                            <ul>
                                <li><a href="">View scheme of work and recommended materials</li>
                            </ul>
                        </div>
                    </div>
                </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
    </div>
    <!-- end section -->

    <%- includes('./includes/footer.ejs') %>